<h1>{{title}}</h1>

<table>
    <tr>
        <td>Fname</td>
        <td>Minit</td>
        <td>Lname</td>
        <td>Ssn</td>
        <td>Bdate</td>
        <td>Address</td>
        <td>Sex</td>
        <td>Salary</td>
        <td>Super_ssn</td>
        <td>Dno</td>
    </tr>
    {{#each employee}}
    <tr>
        <td>{{Fname}}</td>
        <td>{{Minit}}</td>
        <td>{{Lname}}</td>
        <td>{{Ssn}}</td>
        <td>{{Bdate}}</td>
        <td>{{Address}}</td>
        <td>{{Sex}}</td>
        <td>{{Salary}}</td>
        <td>{{Super_ssn}}</td>
        <td>{{Dno}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{title2}}</h1>
<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
    </tr>
    {{!-- 위는 필드이름이라 한번만 선언한다 --}}
    {{#each department}}
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
        <td>{{Mgr_ssn}}</td>
        <td>{{Mgr_start_date}}</td>
    </tr>
     {{!-- 실제 값을 넣어주는 위치로 
     each를 사용하여 입력될때마다 행을 추가한다 
     tr은 행을 td는 열을 의미한다.  --}}
    {{/each}}
</table>