<h1>{{title}}</h1>

<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
        {{!-- 열마다 위의 값을 넣어준다. --}}
    </tr>
    {{!-- 데이터가 입력될때마다 반복수행되는 부분 --}}
    {{#each dept_res}}
    <form method="post">
        <tr>
            <td><input type="text" name="dname" placeholder={{Dname}}></td>
            {{!-- 그냥 dname을 준것이 아닌,
             input이라는 테그를 사용하여 placeholder의
              dname을 넘겨주었다 --}}
            <td>{{Dnumber}}</td>
            <td>{{Mgr_ssn}}</td>
            <td>{{Mgr_start_date}}</td>
            <td><input type="submit" value="수정" formaction="/update/department"></td>
        </tr>
    </form>
    {{/each}}
    <input type="text" name = "change_department" placeholder={{change_department}}
</table>